<!-- loanEvaluated.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Loan Evaluated</title>
    <link rel="stylesheet" href="{% static 'office/office.css' %}">
</head>
<body>
    <h1>Evaluated Loans</h1>
    {% for loan in loan_evaluated %}
        <li>
            <strong>ID:</strong> {{ loan.id }} <br>
            <strong>Customer:</strong> {{ loan.application.username }} <br>
            <strong>Creation Date:</strong> {{ loan.created }} <br>
            <strong>Status:</strong> <span class="status-badge status-{{ loan.status }}">{{ loan.status }}</span>
        </li>
    {% empty %}
        <p>No evaluated loans yet.</p>
    {% endfor %}
    <a href="{% url 'loan_requests_list'%}"><button>Loan Requests List</button></a>
    <a href="{% url 'home' %}"><button>Home</button></a>

</body>
</html>
